#slider{
  background: url("../img/slider-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center -155px;
  padding:80px 0 110px 0;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,#322e40, #71C263);
    opacity: 0.8;
  }
  .block{
    color: #E3E3E4;
    form{
      width: 900px;
      margin: 0px auto;
    }
    h1{
      font-family: $fontPrincipal;
      font-weight: 500;
      font-size: 45px;
      line-height: 60px;
      /*letter-spacing: 10px;*/
      padding-bottom: 10px;
      text-align: center;
    }
    p{
      font-size: 23px;
      line-height: 40px;
      font-family: $fontPrincipal;
      font-weight: 400;
      letter-spacing: 0px;
      padding-bottom: 30px;
      text-align: center;
      b{
        font-weight: 700;
        font-size: 27px;
      }
    }
    input[type="text"]{
      color: #333333;
      width: 50%;
      height: 72px;
      box-shadow: none;
      -webkit-box-shadow: none;
      -webkit-appearance: none;
      padding: 10px 20px;
      font-size: 18px;
      border-color: #e4e4e4;
      border-width: 1px;
      border-right: none;
      border-radius: 5px 0 0 5px;
      opacity: 0.85;
      outline: none;
      float: left;
    }
    button, a.map{
      line-height: 50px;
      color: #ffffff;
      height: 72px;
      padding: 10px 36px 4px;
      -webkit-appearance: none;
      border: none;
      font-size: 27px;
      background-image: linear-gradient(to bottom,#f48d38 0,#f67d08 100%);
      border-radius: 0;
      outline: none;
      float: left;
      border: 1px solid #f67d08;
      box-shadow: inset 0 1px 0 rgba(249,206,170,.6), 0 1px 2px rgba(0,0,0,.05);
      opacity: 0.95;
      &:hover{
        background-image: linear-gradient(to bottom,#f49242 0,#f49242 100%);
      }
    }
    a.map{
      border-radius: 0 5px 5px 0 ;
      border-right: 1px;
      border-left: 0px !important;
      background-image: linear-gradient(to bottom,#89BF46 0,#699731 100%);
      border: 1px solid #699731;
      box-shadow: inset 0 1px 0 rgba(203,249,149,.6), 0 1px 2px rgba(0,0,0,.05);
      &:hover{
        background-image: linear-gradient(to bottom,#83B53A 0,#83B53A 100%);
      }
    }
  }
}


/*--
	Seccion Blcanca
--*/
.white-sec{
  padding:40px 0 120px;
  background-image: url(../img/p-1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  .block{

    h2{
      padding-top: 35px;
      line-height: 27px;
      margin:0;
    }
    p{
      color: #7B7B7B;
      padding-top: 20px;
    }
    img{
      padding-left: 40px;
      width: 100%;
    }
  }

  ul li{
    color: #8d8f92;
    &:before{
      content: "\f0c8";
      font-family: FontAwesome;
      font-size: 7px;
      margin-right: 5px;
      color: #f67d08;
    }
  }
  ul.check li{
    &:before{
      content: "\f00c";
      font-family: FontAwesome;
      font-size: 10px;
      margin-right: 5px;
      color: #f67d08;
    }
  }
  ul li i{
    font-size: 5px;
  }
}



/*--
	Seccion Gris
--*/
.gray-sec {
  background: url("../img/square.png") #f2f3f3;
  width: 100%;
  display: block;
  position: relative;
  overflow: visible;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 100px 0;

  p{
    color: #8d8f92;
    margin-bottom: 20px;
  }
  .btn-view-works {
    background:#655E7A;
    color: #fff;
    padding:10px 20px;
  }
  ul li{
    color: #8d8f92;
    &:before{
      content: "\f0c8";
      font-family: FontAwesome;
      font-size: 7px;
      margin-right: 5px;
    }
  }
  ul.check li{
    &:before{
      content: "\f00c";
      font-family: FontAwesome;
      font-size: 10px;
      margin-right: 5px;
    }
  }
  ul li i{
    font-size: 5px;
  }
}



/*--
  footer
 --*/
footer{
  background: #8ABF54;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 35px;
  p{
    font-size: 13px;
    line-height: 25px;
    color: #fff;
  }
  a{
    color: #fff;
  }
  .footer-manu{
    padding-bottom: 25px;
    color: #fff;
    ul{
      margin: 0px;
      padding: 0px;
      li{
        display: inline-block;
        padding: 0px 20px;
        a{
          display: inline-block;
          color: #494949;
          &:hover{
            color: #000;
          }
        }
      }
    }
  }
}